altgraph==0.10.2
amqp==2.2.2
asn1crypto==0.24.0
astroid==1.6.1
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
bdist-mpkg==0.5.0
billiard==3.5.0.3
blessings==1.6.1
bonjour-py==0.3
bpython==0.17
celery==4.1.0
certifi==2022.12.7
cffi==1.11.5
chardet==3.0.4
click==6.7
configparser==3.5.0
cryptography==2.1.4
curtsies==0.2.11
Django==1.11.10
enum34==1.1.6
eventlet==0.22.1
Flask==0.12.2
Flask-Login==0.4.0
Flask-PyMongo==0.5.1
Flask-Session==0.3.1
Flask-SocketIO==2.9.4
funcsigs==1.0.2
futures==3.2.0
fuzzywuzzy==0.16.0
greenlet==0.4.12
gunicorn==19.7.1
html5lib==1.0.1
HTMLParser==0.0.2
idna==2.6
ipaddress==1.0.19
isort==4.3.4
itsdangerous==0.24
Jinja2==2.7.3
kombu==4.1.0
lazy-object-proxy==1.3.1
macholib==1.5.1
MarkupSafe==0.23
matplotlib==1.3.1
mccabe==0.6.1
mechanize==0.3.6
mock==2.0.0
modulegraph==0.10.4
numpy==1.8.0rc1
pbr==3.1.1
prettytable==0.7.2
py2app==0.7.3
pycparser==2.18
Pygments==2.2.0
PyJWT==1.5.3
pylint==1.8.2
pymongo==3.6.0
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==0.13.1
pyparsing==2.0.1
python-dateutil==1.5
python-engineio==2.0.3
python-socketio==1.8.4
pytz==2013.7
requests==2.18.4
scipy==0.13.0b1
singledispatch==3.4.0.3
six==1.9.0
stevedore==1.28.0
twilio==6.10.4
urllib3==1.22
uuid==1.30
vine==1.1.4
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
vk==2.0.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
wrapt==1.10.11
xattr==0.6.4
zope.interface==4.1.1
